.custom-btn {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .custom-btn:hover {
    background-color: #fff;
    color: #000;
  }
  
  .custom-btn-secondary {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .custom-btn-secondary:hover {
    background-color: #fff;
    color: #000;
  }
  